@keyframes slideInTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutTop {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.custom-enter {
  animation: slideInTop 0.15s ease-out forwards;
}

.custom-exit {
  animation: slideOutTop 0.15s ease-in forwards;
}
